# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# Virtual Environment
# ==========================================================

.venv/
venv/
env/

# ==========================================================
# macOS
# ==========================================================

.DS_Store

# ==========================================================
# IDE
# ==========================================================

.vscode/
.idea/

# ==========================================================
# Jupyter
# ==========================================================

.ipynb_checkpoints/

# ==========================================================
# Build
# ==========================================================

build/
dist/
*.egg-info/

# ==========================================================
# Test Coverage
# ==========================================================

.coverage
htmlcov/

# ==========================================================
# Logs
# ==========================================================

*.log